/*
 * Arduino MKR Zero overlay for LCD keypad project
 */

&zephyr_udc0 {
	cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "Zephyr USB CDC-ACM";
	};
};

/ {
	aliases {
		adc0 = &adc;
	};
};

/ {
	zephyr,user {
		/* Reference the ADC channel for keypad reading */
		io-channels = <&adc 0>, <&adc 1>;
	};
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	/* ADC channel configuration for keypad */
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_2";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <PA2B_ADC_AIN0>;
		zephyr,resolution = <10>;
	};

	/* ADC channel configuration for LM35 temperature sensor */
//	channel@1 {
//		reg = <1>;
//		zephyr,gain = "ADC_GAIN_1";
//		zephyr,reference = "ADC_REF_VDD_1_2";
//		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
//		zephyr,input-positive = <PB2B_ADC_AIN10>;
//		zephyr,resolution = <10>;
//	};
};